@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  font-family: roboto;
  font-size: 14px;
}

body {
  display: grid; 
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 80px repeat(3, 1fr);
  grid-template-areas: 
  "header header header header header"
  "sidebar item01 item02 item03 item04"
  "sidebar item05 item06 item07 item08"
  "sidebar item09 item10 item11 item12";
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

.item-01 {
  grid-area: item01;
}
.item-02 {
  grid-area: item02;
}
.item-03 {
  grid-area: item03;
}
.item-04 {
  grid-area: item04;
}
.item-05 {
  grid-area: item05;
}
.item-06 {
  grid-area: item06;
}
.item-07 {
  grid-area: item07;
}
.item-08 {
  grid-area: item08;
}
.item-09 {
  grid-area: item09;
}
.item-10 {
  grid-area: item10;
}
.item-11 {
  grid-area: item11;
}
.item-12 {
  grid-area: item12;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 22px;
  padding: 24px;
}

.aside-bar {
  display: flex;
  align-items: center;
  gap: 16px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 282px;
  height: 262px;
  gap: 16px;
  padding: 16px;
}

.text-image {
  display: flex;
  align-items: start;
  gap: 10px;
}

.vizu {
  width: 70%;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 10px;
}
